# downloaded CMU data (fetch with fetch_cmu.sh) and the regenerated figure copy
*.amc
*.asf
fig_cmu_ggm.png
__pycache__/
fig_two_body.png
fig_two_body_skeletons.png
fig_relative_phase.png
fig_frustration.png
# downloaded UMONS-TAICHI data (fetch with fetch_umons.sh) and the figure copy
Segmented_Kinect/
Segmented_Kinect.zip
fig_umons.png

Segmented_TSV/
Segmented_TSV.zip
fig_qualisys.png
*.npy
fig_joint_graph.png
